

<div class="contact col-xs-10 col-xs-offset-1">

<%= simple_form_for @contact do |f| %>
  <%= f.input :name %>
  </br>
  <%= f.input :email %>
  </br>
  <%= f.input :message %>
  </br>
  <%= f.submit 'Create', class: 'btn btn-danger'%>
</div>
<% end %>




